@model IEnumerable<LoopMoth.Models.MergeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="content">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autorzy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jezyk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rodzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rok_publikacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.slowa_kluczowe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wydawca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategorie)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="@item.id_pracy">
                <td>
                    @Html.DisplayFor(modelItem => item.tytul)
                </td>
                <td>
                    @foreach (var author in item.autorzy)
                    {
                        if (author != item.autorzy.First())
                        {
                            <br />
                        }
                        @Html.DisplayFor(das => author.imie)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jezyk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rodzaj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rok_publikacji)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.slowa_kluczowe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wydawca.nazwa)
                </td>
                <td>
                    @foreach (var cat in item.kategorie)
                    {
                        if (cat != item.kategorie.First())
                        {
                           <br />
                        }
                        @Html.DisplayFor(das => cat.nazwa)
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit",new { id=item.id_pracy })"><i class="fas fa-file-alt"></i></a>
                    <i class="fas fa-trash-alt" onclick="praca_delete(@item.id_pracy)"></i>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    function praca_delete(id) {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("Delete")',
            data: {'id':id },
            success: function(res){
                if(res['result']==true){
                    $('#'+id).remove();
                }else alert('Nie udało się usunąć.');
            }
        });
    }
</script>