@model LoopMoth.Models.Prace

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jezyk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jezyk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rok_publikacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rok_publikacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slowa_kluczowe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slowa_kluczowe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wydawcy.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wydawcy.nazwa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
