@model LoopMoth.Models.Prace

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jezyk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jezyk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rodzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rodzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rok_publikacji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rok_publikacji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slowa_kluczowe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slowa_kluczowe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wydawcy.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wydawcy.nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pracy }) |
    @Html.ActionLink("Back to List", "Index")
</p>
